name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        WIN_VER:
        - ltsc2022
        - ltsc2025
        - ltsc2019
        - 20H2
        - 2009
        - 2004
        - 1809
    runs-on: windows-2025
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull parent image for cache
        shell: cmd
        run: |
          docker pull ghcr.io/${{ github.repository_owner }}/msys2:${{ matrix.WIN_VER }}
          docker tag ghcr.io/${{ github.repository_owner }}/msys2:${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/msys2:${{ matrix.WIN_VER }}

      - name: Build gcc-ucrt
        shell: cmd
        run: >
            docker build
            --build-arg VERSION="${{ matrix.WIN_VER }}"
            --build-arg TOOLCHAIN="mingw-w64-ucrt-x86_64-toolchain"
            --build-arg MSYSTEM=UCRT64
            --tag=${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-ucrt-${{ matrix.WIN_VER }}
            --tag=ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-ucrt-${{ matrix.WIN_VER }}
            --isolation=hyperv
            .

      - name: Build clang-x86_64
        shell: cmd
        run: >
            docker build
            --build-arg VERSION="${{ matrix.WIN_VER }}"
            --build-arg TOOLCHAIN="mingw-w64-clang-x86_64-toolchain"
            --build-arg MSYSTEM=CLANG64
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-x86_64-${{ matrix.WIN_VER }}
            -t ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-x86_64-${{ matrix.WIN_VER }}
            .

      - name: Build clang-aarch64
        shell: cmd
        run: >
            docker build
            --build-arg VERSION="${{ matrix.WIN_VER }}"
            --build-arg TOOLCHAIN="mingw-w64-clang-aarch64-toolchain"
            --build-arg MSYSTEM=CLANGARM64
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-aarch64-${{ matrix.WIN_VER }}
            -t ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-aarch64-${{ matrix.WIN_VER }}
            .

      - name: Build cross-gcc
        shell: cmd
        run: >
            docker build
            --build-arg VERSION="${{ matrix.WIN_VER }}"
            --build-arg TOOLCHAIN="mingw-w64-cross-toolchain"
            --build-arg MSYSTEM=MINGW64
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:cross-gcc-${{ matrix.WIN_VER }}
            -t ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:cross-gcc-${{ matrix.WIN_VER }}
            .

      - name: Build cross-clang
        shell: cmd
        run: >
            docker build
            --build-arg VERSION="${{ matrix.WIN_VER }}"
            --build-arg TOOLCHAIN="mingw-w64-cross-clang-toolchain"
            --build-arg MSYSTEM=CLANG64
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:cross-clang-${{ matrix.WIN_VER }}
            -t ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:cross-clang-${{ matrix.WIN_VER }}
            .

      - name: Build gcc-i686
        shell: cmd
        run: >
            docker build
            --build-arg VERSION="${{ matrix.WIN_VER }}"
            --build-arg TOOLCHAIN="mingw-w64-i686-toolchain"
            --build-arg MSYSTEM=MINGW32
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-i686-${{ matrix.WIN_VER }}
            -t ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-i686-${{ matrix.WIN_VER }}
            .

      - name: Build gcc-x86_64
        shell: cmd
        run: >
            docker build
            --build-arg VERSION="${{ matrix.WIN_VER }}"
            --build-arg TOOLCHAIN="mingw-w64-x86_64-toolchain"
            --build-arg MSYSTEM=MINGW64
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:${{ matrix.WIN_VER }}
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }}
            -t ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:${{ matrix.WIN_VER }}
            -t ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }}            
            .

      - name: Tag latest Windows version
        if: strategy.job-index == 0
        run: |
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-x86_64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-x86_64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-x86_64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-i686-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-i686
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-aarch64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-aarch64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:cross-gcc-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:cross-gcc
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:cross-clang-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:cross-clang
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-i686-riscv64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-i686-riscv64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-x86_64-riscv64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:clang-x86_64-riscv64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:i686-riscv64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:i686-riscv64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:x86_64-riscv64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:x86_64-riscv64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:x86_64-riscv64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:riscv64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:ucrt-x86_64-riscv64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:ucrt-x86_64-riscv64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-ucrt-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-ucrt
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-ucrt-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:ucrt
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-i686-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-i686
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-i686-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:i686
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-x86_64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:x86_64
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }} ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }}
      - name: Tag latest Windows version (ghcr.io)
        if: strategy.job-index == 0
        run: |
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-x86_64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-x86_64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-x86_64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-i686-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-i686
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-aarch64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-aarch64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:cross-gcc-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:cross-gcc
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:cross-clang-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:cross-clang
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-i686-riscv64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-i686-riscv64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-x86_64-riscv64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:clang-x86_64-riscv64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:i686-riscv64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:i686-riscv64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:x86_64-riscv64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:x86_64-riscv64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:x86_64-riscv64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:riscv64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:ucrt-x86_64-riscv64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:ucrt-x86_64-riscv64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-ucrt-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-ucrt
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-ucrt-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:ucrt
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-i686-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-i686
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-i686-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:i686
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-x86_64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:x86_64
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc
          docker tag ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}:gcc-x86_64-${{ matrix.WIN_VER }} ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }}

      - name: Push
        shell: cmd
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMG_NAME }} --all-tags
          docker push ghcr.io/${{ github.repository_owner }}/${{ vars.IMG_NAME }} --all-tags
